:root {
    --loader-background-color: #e2e2e2;
    --loader-highlight-color: #d0d0d0;
}





.root__card {
    &__skeleton {
        background-color: transparent;

    }

    &__image__skeleton {
        height: 12rem;
        width: 100%;
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
    }

    &__about__title__skeleton {
        width: 60%;
        height: 20px;
        border-radius: 50px;
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
    }

    &__about__price__skeleton {
        width: 20%;
        height: 20px;
        border-radius: 50px;
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
    }
}




.carts__cart {

    &__image__skeleton {
        width: 12rem;
        height: 12rem;
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
    }

    &__about__remove__skeleton {
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
        width: 30%;
    }

    &__about__skeleton {
        margin-left: 5rem;
    }

    &__about__title__skeleton {
        width: 70%;
        height: 25px;
        border-radius: 50px;
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
    }


    .cartAboutskeleton {
        width: 30%;
        height: 20px;
        border-radius: 50px;
        background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
        background-size: 200% 100%;
        animation: loading 2s infinite ease-in-out;
    }
}





.categoryList__skeleton {
    width: 80%;
    height: 10px;
    margin-bottom: 25px;
    border-radius: 50px;
    background: linear-gradient(90deg, var(--loader-background-color) 25%, var(--loader-highlight-color) 50%, var(--loader-background-color) 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
}



@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}